<div id="uppernav">
</div>

    <div id="nav-bar">
        <nav id="nav-list"> 
            <li><a href="/admin/home" class="<%= locals.home %> ">Home</a></li>
            <li><a href="/admin/users" class="<%= locals.users %> ">Users</a></li>
            <li><a href="/admin/services" class="<%= locals.services %> ">Services</a></li>
            <li><a href="/admin/transactions" class="<%= locals.transactions %> ">Transactions</a></li>
        </nav>

        <i class="fa fa-sign-out"  id="logout-icon" aria-hidden="true"></i>
   </div>