<div id="uppernav">
</div>

    <div id="nav-bar">
        <nav id="nav-list">
            <li><a href="/adminhome" class="<%= locals.home %> ">Home</a></li>
            <li><a href="/adminusers" class="<%= locals.users %> ">Users</a></li>
            <li><a href="/adminservices" class="<%= locals.services %> ">Services</a></li>
            <li><a href="/admintransactions" class="<%= locals.transactions %> ">Transactions</a></li>
        </nav>

        <i class="fa fa-sign-out"  id="logout-icon" aria-hidden="true"></i>
   </div>