<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/adminnavbar.css">

    <style>

    
        .data-card{
            background-color: cornflowerblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:300px;
            border:1px solid black;
            height:100px;
            border:3px solid white;
            border-radius: 10px;
            box-shadow: 0px 0px 2px black;
        }

        .data-card:hover{
            box-shadow: 0px 0px 5px black;
        }
        .title h6{
            color: white;
            font-size: large;
            text-align: center;
            border-bottom: 1px solid white;
        }

        .content h3{
            color: white;
            font-size: larger;
            text-align: center;
        }

        .card-cont{
            height:300px;
            display: flex;
            /* align-items: center; */
            justify-content: space-around;
            align-items: center;
        }
        a{
            text-decoration: none;
        }
        
    </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include('./partials/adminnavbar.ejs') %> 

    <div class="card-cont">
        <a href="/admin/users">
            <div class="data-card">
                <div class="title">
                <h6>Total Users</h6>
                </div>
                <div class="content">
                 <h3><%= locals.user_cnt %> </h3>
                </div>
                <div class="footer">
     
                </div>
            </div>
        </a>
        

        <a href="/admin/services">
            <div class="data-card">
                <div class="title">
                <h6>Total Services</h6>
                </div>
                <div class="content">
                 <h3><%= locals.service_cnt %></h3>
                </div>
                <div class="footer">
     
                </div>
            </div>
        </a>
        

        <a href="/admin/transactions">
            <div class="data-card">
                <div class="title">
                <h6>Total Transactions</h6>
                </div>
                <div class="content">
                 <h3><%= locals.trans_cnt %></h3>
                </div>
                <div class="footer">
     
                </div>
            </div>
        </a>
      
    </div>
    

</body>
</html>